.git
.gitignore
.github
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
htmlcov
coverage.xml
test-results.xml
.coverage
security-reports
reports
.flake8
.pylintrc
sonar-project.properties
README.md
Dockerfile
.dockerignore
tests
*.log
