# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing & Coverage
.cache
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
test-results.xml
*.cover
nosetests.xml
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Generated reports (Generated in CI/CD pipeline and deployed to Pages)
reports/
trivy-results.sarif
